/* ГЛАВНАЯ */
.section4_1 {
    width: 80vw;
    margin-top: 5vw;
    font-family: Raleway;
}

.img_art_glav2 {
    padding-bottom: 7vw;
}

#img_art_glav1 {
    width: 20vw;
    height: 10vw;
    background-color: #D9D9D9;
}

#img_art_glav2 {
    width: 20vw;
    height: 10vw;
    background-color: #182809;
}

.artic2_glav {
    position: relative;
    width: 45vw;
    padding-bottom: 3vw;
    margin-top: -10.5vw;
    margin-left: 38vw;
}

.art1_gl {
    font-family: RalewaySB;
    font-size: 1.3vw;
    color: #252525;
    padding-bottom: 1vw;
    
}

.art2_gl {
    font-family: Raleway;
    font-size: 1vw;
    padding-bottom: 0.5vw;
}

.pod_glav {
    font-family: Raleway;
    font-size: 0.9vw;
    color: #252525;
}


/* ТЕХНИКИ МЕДИТАЦИИ */
.section2_3 {
    margin-top: -8vw;
    font-family: Raleway;
}

.zk1_2 {
    position: relative;
    width: 60vw;
    text-align: left;
    font-family: RalewaySB;
    font-size: 1.5vw;
    border: 0.2vw;
    padding-bottom: 1vw;
}

.zk5_1 {
    position: relative;
    width: 40vw;
    margin-top: -10.7vw;
    margin-left: 20vw;
    font-family: Raleway;
    font-size: 1vw;
    font-weight: 350;
    padding-bottom: 5.5vw;

}

.zk5_11 {
    position: relative;
    /* width: 40vw;
    margin-left: 20vw; */
    font-family: Raleway;
    font-size: 1vw;
    font-weight: 350;
    padding-bottom: 0.5vw;
}

.zk5_2 {
    position: relative;
    font-family: Raleway;
    font-size: 1.2vw;
    font-weight: 550;
    padding-top: 5vw;
    padding-bottom: 0.5vw;
}

#img_med {
    position: relative;
    width: 17vw;
    height: 10vw;
    margin-top: 0.5vw;
    background-color: #182809;
}

.btm_mix1 {
    font-family: Raleway;
    font-size: 1.1vw;
    font-weight: 550;
    text-decoration: none;
    color: rgb(2, 54, 11);
    padding-left: 30vw;
}
